
.header-image-container {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.header-img {
    width: 100%;
    height: 100%;
    display: block;
    max-height: 200px;
    object-fit: cover;
}


.about-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 50px 0;
    padding: 30px;
}

.about-logo {
    width: 340px;
    height: auto;
    object-fit: contain;
}

.about-text {
    max-width: 600px;
    text-align: justify;
}

.about-text h2 {
    color: #003580;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
}

.about-text p {
    color: #555;
    line-height: 1.6;
    font-size: 16px;
}
