@import url('base.css');
@import url('navbar.css');
@import url('footer.css');
@import url('cards.css');
@import url('admin.css');
@import url('auth.css');
@import url('details.css');
@import url('search.css');
@import url('buttons.css');
@import url('messages.css');
@import url('header.css');
@import url('legal.css');
